@layer base {
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
        @apply font-heading font-bold tracking-tighter;
    }

    h1, .h1 {
        @apply text-7xl;
    }

    h2, .h2 {
        @apply text-5xl;
    }

    p {
        @apply mb-4;
    }

    .decorative-text {
        @apply font-heading text-6xl md:text-7xl xl:text-8xl 2xl:text-9xl leading-[0.9] mb-6;
    }
}