@import "tailwindcss";
@import "./components/navigation.css";
@import "./base/fonts.css";
@plugin "@tailwindcss/typography";

@source "../*.php";
@source "../parts/**/*.php";

@theme {
    --color-primary: #c1121f;
    --color-offwhite: #F2F0EF;
    --color-offwhite-mid: #C9C8C7;
    --color-offwhite-semidark: #949392;
    --color-offwhite-dark: #66615E;
    --font-heading: 'Playfair Display', serif;
    --font-body: 'Inter', sans-serif;
}

@layer base {
    body {
        @apply min-h-screen font-body;
    }
    .header {
        @apply top-0;
    }
    .admin-bar {
        @apply min-h-[calc(100vh-32px)];
        .header {
            @apply top-[32px];
        }
        &.min-body-height {
            @apply min-h-screen;
        }
    }

    @media screen and (max-width: 782px) {
        .admin-bar {
            @apply min-h-[calc(100vh-46px)];
            .header {
                @apply top-[46px];
            }

        }
    }

    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
        @apply font-heading font-bold tracking-tighter;
    }

    h1, .h1 {
        @apply text-6xl;
    }
}

.custom-logo {
    @apply h-6 w-auto;
}